#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
    padding-block: 1rem 2rem;
}

.footer {
    padding-block: 1rem;
    border-top: 1px solid var(--pico-muted-border-color);
    text-align: center;
}

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.pokemon-grid .box {
    position: relative;
    aspect-ratio: 1;
}

.pokemon-grid .box img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: calc(100% - var(--pico-block-spacing-horizontal) * 2);
    max-height: calc(100% - var(--pico-block-spacing-vertical) * 2);
    translate: -50% -50%;
    object-fit: contain;
}

.box {
    display: block;
    padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
    background-color: var(--pico-card-background-color);
    border: 1px solid var(--pico-card-border-color);
    border-radius: var(--pico-border-radius);
    box-shadow: var(--pico-card-box-shadow);
}

.box:hover {
    background-color: var(--pico-card-sectioning-background-color);
}

.box-name {
    margin-top: 0.5rem;
    font-size: 0.875em;
    text-align: center;
}

@media (min-width: 768px) {
    .pokemon-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 2rem;
    }
}
