:root {
    --skeleton-background-color: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --skeleton-background-color: 255, 255, 255;
    }
}

#__nuxt {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-wrapper {
    flex: 1;
    padding-block: 2rem;
}

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

:is(.pokemon-grid, .card) .image {
    position: relative;
    display: block;
    margin-bottom: 0;
}

.pokemon-grid .image.article {
    padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
    background-color: var(--pico-card-background-color);
    border: 1px solid var(--pico-card-border-color);
    border-radius: var(--pico-border-radius);
}

.pokemon-grid .image.article:not(:focus-visible) {
    box-shadow: var(--pico-card-box-shadow);
}

.pokemon-grid .image.article:hover {
    background-color: var(--pico-card-sectioning-background-color);
}

:is(.pokemon-grid, .card) .image img {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    object-fit: contain;
}

.pokemon-grid .name {
    margin-top: 0.5rem;
    font-size: 0.875em;
    text-align: center;
}

.pokemon-grid :is(.set, .pokemon) .image {
    aspect-ratio: 1;
}

.pokemon-grid :is(.set, .pokemon) img {
    max-width: calc(100% - var(--pico-block-spacing-horizontal) * 2);
    max-height: calc(100% - var(--pico-block-spacing-vertical) * 2);
}

:is(.pokemon-grid .card, .card) .image {
    aspect-ratio: 104 / 145;
}

.detail {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    gap: 1rem;
}

.detail > * {
    min-width: 0;
}

.detail article {
    border: 1px solid var(--pico-muted-border-color);
}

.detail article:last-child {
    margin-bottom: 0;
}

.detail article :is(p, ul, li):last-child {
    margin-bottom: 0;
}

.detail .navigation {
    margin-top: 1rem;
}

.detail .navigation > * {
    width: 100%;
}

.navigation-wrap {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.navigation-wrap .navigation {
    width: auto;
}

.navigation-wrap .navigation > * {
    flex: 0;
}

.navigation {
    margin-bottom: 0;
}

[role='search']:not(:has(+ form)),
[role='search'] + form {
    margin-bottom: 2rem;
}

[data-tooltip]:not(a, button, input, [role='button']) {
    border-bottom: none;
    cursor: default;
}

@media (min-width: 768px) {
    .pokemon-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 2rem;
    }

    .detail {
        grid-template-columns: 1fr 1.5fr;
    }

    .detail aside {
        position: sticky;
        top: calc(var(--header-height) + 1rem);
    }
}

@media (min-width: 1024px) {
    .detail {
        grid-template-columns: 1fr 2fr;
    }
}
